<html>
	<head>
		<title>MyBook</title>
	</head>
	<body>
		<h1>Welcome Mybook site!!</h1><br>
		<h4>This site analyze the book's characteristics<h4><br>

		<div class="form">
			<div class="form-inform">
				<p>Please upload your book's xml file which follow Docbook.dtd</p>
			</div>
			<form method="post" action="/result" enctype="multipart/form-data">
			<input type="file" name="book" value="Browse">
			<button type="submit">Submit</button>
			</form>
		</div>
	</body>
<html>
